<div class="jumbotron">
    <div class="row">
           <div class="col-md-6">
                <h1 class="display-4">Little Feimi Dumplings</h1>
                <p class="lead">Best Home Made Dumplings</p>
                <hr class="my-4">
                
                <p class="lead"> 
                    <%= link_to "Add Menu", new_menu_path, class:"btn btn-primary btn-lg"%>
                </p>
           </div>
    
        <div class="col-md-6">
        <%= image_tag "dumpling", class: "home-image" %>
        </div>
    </div>
</div>
   
    
