<main class="landing">
    <h1>Little Feimi Dumplings</h1>
</main>

<div class="jumbotron">
    <div class="row">
           <div class="col-md-6">
                <h1 class="display-4">Little Feimi Dumplings</h1>
                <p class="lead">Best Home Made Dumplings</p>
                <hr class="my-4">
                
                <p class="lead"><%= link_to "Add Menu", new_menu_path, class:"btn btn-light btn-lg"%></p>
                <p class="lead"><%= link_to "Show Menu", item_page_path, class:"btn btn-light btn-lg"%></p>
           </div>
    
        <div class="col-md-6">
        <%= image_tag "dumpling.jpg", class: "home-image" %>
        </div>
    </div>
</div>
   
    
