<main class="landing">
    <h1>Little Feimi Dumplings</h1>
</main>


<div class="jumbotron">
    <div class="row">

           <div class="col-md-6">
             <%= image_tag "booking2.jpg", class: "home-image-booking" %>
            </div>

            <div class="col-md-6">
                <h5 class="display-6">Tell us about your booking.</h5>
                
                <hr class="my-4">

               
            </div>


    </div>
</div>

