
<main class="landing">
    <h1>Little Feimi Dumplings</h1>
</main>

<div class="jumbotron">
    <div class="row">
            <div class="col-md-6">
                <h5 class="display-6">Contact Us</h5>
                <hr class="my-4">
                <p class="font-weight-bold text-md-left">Reservation: 1300 877 988</p>
                <p class="font-weight-bold text-md-left">Business Associate: 1300 266 399</p>
                <p class="font-weight-bold text-md-left">Email: feimilittledumplings@info.com.au</p>
                <p class="font-weight-bold text-md-left">Address: Jackson Court, Doncaster east, Vic, Australia</p>

                    <div class="card z-depth-3"> 
                        <div class="card-content">
                         <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.072482529069!2d145.14715721590554!3d-37.78834107975705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6388f64472119%3A0x86ee5b442e4e4c94!2sJackson%20Ct%2C%20Doncaster%20East%20VIC%203109!5e0!3m2!1sen!2sau!4v1632790636075!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
            </div>

           <div class="col-md-6">
             <%= image_tag "contact.jpeg", class: "home-image-contact" %>
            </div> 
    </div>
    
</div>
 

 <style type="text/css">
      /* Set the size of the div element that contains the map */
      .maps {
        height: 300px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>

